@use '@angular/material' as mat;
@use './app/styles/theme-colors' as custom-theme;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
